/* App.css */
body, .App {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f; /* Dark gray background color */
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Make sure the background fills the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
